body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./save\ box.jpg') no-repeat center center/cover;
    background-color: #1e1e1e; 
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    text-align: center;
    background: transparent; 
    padding: 20px;
    border-radius: 10px;
}

#logo {
    width: 50vw;
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50%; 
    animation: blink 2s infinite;
}

h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: whitesmoke;
}

p {
    font-size: 0.8rem;
    margin: 5px 0;
}


@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}






